* {
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
  resize: none;
  width: 100vw;
  height: 100vh;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway-Regular.ttf");
}

.App {
  overflow: auto;
}