.PageNotFound {
  div.header {
    font-size: 3rem;
    font-family: OpenSans;
    font-weight: bold;
    color: #bf2424;
  }

  div.text {
    font-family: Raleway;
    font-size: 1.05rem;
    font-weight: bold;
  }
}