.PaginatorItem {
  &:not(:first-child) {
    margin-left: 0.3rem;
  }

  border: 1px solid #575555;
  width: 1.85rem;
  height: 1.85rem;
  border-radius: 0.3rem;
  background-color: white;
  color: #3e3c3c;
  font-family: OpenSans;
  transition: all .3s;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background-color: #8d8b8b;
    color: white;
  }
}

.PaginatorItemActive {
  background-color: #575555;
  color: white;
}