.LoadingProfile {
  height: 8rem;
  .hr {
    width: 100%;
    border: 1px solid #575555;
  }

  .PrealoderName {
    width: 10rem;
    height: 1.5rem;
    border: 0.01rem solid #e8e5e5;
    background-color: #e8e5e5;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
  }
  .PrealoderStatus {
    width: 10rem;
    height: 3.35rem;
    border: 0.01rem solid #e8e5e5;
    background-color: #e8e5e5;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
  }
}