.ProfilePage {
  .FollowBtn {
    width: 8rem;
  }
  .FollowedLoading {
    width: 8rem;
    height: 2rem;
    border: 0.01rem solid #e8e5e5;
    background-color: #e8e5e5;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
  }
}